$background: #f1f5f8;
$primary: #063251;
$secondary: #a5d5f8;
$tertiary: #617d98;
$radius: .25rem;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
  background-color: $background;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

h1{
  text-align: center;
  color: $primary;
  padding: 20px;
}

.container{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: $radius;
  background-color: white;
}

.list--form{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 20px 0;
}

.list--form input{
  width: 70%;
  border-style: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: $background;
  padding: 5px 10px;
  color: $tertiary
}

.list--form button{
  width: min(25%, 10em);
  background-color: $secondary;
  border: none;
  padding: 5px 5px;
  color: $primary;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.list--data{
  display: flex;
  justify-content: space-between;
  gap: 50%;
}

.list--item{
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 400;
}

.list--items{
  margin-top: 1em;
  padding: 5px 0;
}

.list--control{
  cursor: pointer;
  display: flex;
  gap: 0.5em;
}

.list--cbtn{
  font-size: 1em;
}

.list--clear{
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list--clear button{
  margin: 20px 0 10px 0;
  padding: 4px 20px;
  background: #dc3545;
  border: none;
  color: $background;
  border-radius: 4px;
}

.list--stats{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 10px;
}

.list--tstats{
  font-size: 0.8em;
}

.notdone{
  text-decoration: none;
}

.done {
  text-decoration: line-through;
  color: grey;
}

.red{
  color:#dc3545;
}

.bgred{
  background-color: #dc3545;
}

.bgreen {
  background: #28a745;
}

.bgblue {
  background: #007bff;
}

.green{
  color: #28a745;
}

.blue{
  color: #007bff;
}

hr{
  color: $primary;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.list--line{
  color: $secondary;
  align-self: center;
  width: 80%;
}